.profilePicture {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.flowerCount {
  color: rgb(137, 137, 137);
}

.link {
  color: black;
}

.pictureGreetingContainer {
  display: flex;
  flex-direction: row;
}

.greeting {
  margin-left: 10px;
}

.headerComponents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
}
